### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset. 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [4]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [5]:
# There are 15 unique schools in the data set
total_schools = len(school_data_complete["school_name"].unique())

total_schools

15

In [6]:
# There are 39,170 students and 32,715 uniques students in the data set
#school_data_complete['student_name'] = pd.to_numeric(school_data_complete['student_name'])
#total_students = school_data_complete['student_name'].value_count()
#total_students = len(school_data_complete['student_name'].cumsum())
total_students = school_data_complete['student_name'].count()

total_students

39170

In [7]:
# The total budget of all schools is $24,649,428
each_budget = school_data_complete['budget'].unique()
total_budget = each_budget.sum()

total_budget

24649428

In [8]:
#Calculate the average math score 
average_math_score = school_data_complete['math_score'].mean()

average_math_score

78.98537145774827

In [9]:
#Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()

average_reading_score

81.87784018381414

In [10]:
#Calculate the percentage of students with a passing math score (70 or greater)
total_math_scores = school_data_complete['math_score'].count().astype(float)
passing_math_score = school_data_complete.loc[school_data_complete["math_score"] > 69].count()["student_name"]
passing_math_percent = (passing_math_score / total_math_scores).astype(float) * 100

#total_math_scores                                              
#passing_math_score  
passing_math_percent

74.9808526933878

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
total_reading_scores = school_data_complete['reading_score'].count().astype(float)
passing_reading_score = school_data_complete.loc[school_data_complete["reading_score"] > 69].count()["student_name"]
passing_reading_percent = (passing_reading_score / total_reading_scores).astype(float) * 100

#total_reading_scores                                             
#passing_reading_score 
passing_reading_percent

85.80546336482001

In [12]:
overall_passing_percent = school_data_complete[(school_data_complete["reading_score"] > 69) & (school_data_complete["math_score"] > 69)].count()["student_name"]
overall_passing_percent = overall_passing_percent /  total_students * 100
overall_passing_percent

65.17232575950983

In [13]:
#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], 
                      "Total Budget": [total_budget], "Average Math Score": [average_math_score],
                      "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percent],
                      "% Passing Reading": [passing_reading_percent], "% Overall Passing": [overall_passing_percent]})
                            
district_summary_df.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [14]:

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [16]:
#school_name = school_data_complete["school_name"].unique
#school_name

In [17]:
#school_type = school_data_complete.groupby(["school_name", "type"]).value_count

#school_type

In [18]:
per_student_count = school_data_complete.groupby(["school_name"]).max()["size"]
per_student_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [19]:
total_school_budget = school_data_complete.groupby(["school_name"]).max()["budget"]
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [20]:
per_student_budget = school_data_complete.groupby(["school_name"]), ["budget"]
per_student_budget = total_school_budget /  per_student_count 
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [21]:
avg_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [22]:
avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [23]:
math_passing = school_data_complete[(school_data_complete["math_score"] >=70)]
math_passing_per = math_passing.groupby(["school_name"]).count()["student_name"]/per_student_count
math_passing_per

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [24]:
reading_passing = school_data_complete[(school_data_complete["reading_score"] >=70)]
reading_passing_per = reading_passing.groupby(["school_name"]).count()["student_name"]/per_student_count
reading_passing_per

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [25]:
overall_passing = school_data_complete[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)]
overall_passing_per = overall_passing.groupby(["school_name"]).count()["student_name"]/per_student_count
overall_passing_per

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
dtype: float64

In [34]:
school_summary_df = pd.DataFrame({"Total Students": [per_student_count], 
                      "Total School Budget": [total_school_budget], "Per Student Budget": [per_student_budget],"Average Math Score": [average_math_score],
                      "Average Reading Score": [average_reading_score], "% Passing Math": [math_passing_per],
                      "% Passing Reading": [reading_passing_per], "% Overall Passing": [overall_passing_per]})
           
school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,78.985371,81.87784,school_name Bailey High School 0.666801 ...,school_name Bailey High School 0.819333 ...,school_name Bailey High School 0.546423 ...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [36]:
top_overall_passing_per = overall_passing_per.sort_values("overall_passing", ascending=False)
top_overall_passing_per

ValueError: No axis named overall_passing for object type <class 'pandas.core.series.Series'>

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
# Need group by or sorting code here i think

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [43]:
nineth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

In [44]:
nineth_grade_math = nineth_grade.groupby(["school_name"]).mean()["math_score"]
nineth_grade_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [45]:
tenth_grade_math = tenth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [46]:
eleventh_grade_math = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [47]:
twelfth_grade_math = twelfth_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [51]:
nineth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

In [50]:
nineth_grade_reading = nineth_grade.groupby(["school_name"]).mean()["reading_score"]
nineth_grade_reading

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [52]:
tenth_grade_reading = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [53]:
eleventh_grade_reading = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [55]:
twelfth_grade_reading = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Need binning code here i think

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Need binning code here i think

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Need binning code here i think